:global {
  body {
    background-color: #f0dde3 !important;
  }

  // div[data-interactive-scrollout-root] > div > div.sgMpdhCf {
  //   position: fixed;
  // }

  .Header-content h1 {
    display: none;
  }

  div[data-component="OdysseyParallax_App"] {
    background: #f0dde3;
  }

  .Header-media:after {
    position: absolute;
    // height: 8.25rem;
    background-image: linear-gradient(
      to bottom,
      rgba(240, 221, 227, 0),
      rgba(240, 221, 227, 100)
    ) !important;
  }
}
